.cookie-banner-section {
  background: #151521;
  border: 1px solid #474753;
  border-radius: 50px;
  width: 100%;
  max-width: 331px;
  padding: 14px 23px 68px 23px;
  margin: 0 auto;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 100;
  display: none;

  @include media(desktop) {
    max-width: 928px;
    padding: 53px 42px 98px 85px;
  }
}

.cookie-banner-text-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 36px;
  margin-bottom: 40px;

  @include media(desktop) {
    flex-direction: row;
    justify-content: space-between;
    align-items: start;
    margin-bottom: 111px;
  }
}

.cookie-banner-text {
  font-family: 'Poppins', sans-serif;
  font-weight: 700;
  font-size: 16px;
  letter-spacing: 0.04em;
  color: #f2f9ef;

  @include media(desktop) {
    font-size: 34px;
    max-width: 608px;
  }
}

.cookie-banner-buttons {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;

  @include media(desktop) {
    flex-direction: row;
    gap: 14px;
  }
}

.cookie-accept-btn {
  background: #f9f3ec;
  border-radius: 30px;
  padding: 3px 27px;
  font-family: 'Poppins', sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #000;
  width: 100%;
  max-width: 200px;

  @include media(desktop) {
    font-size: 24px;
    padding: 7px 27px;
    max-width: 352px;
  }
}

.cookie-decline-btn {
  border: 1px solid #f9f3ec;
  border-radius: 30px;
  padding: 3px 25px;
  font-family: 'Poppins', sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #f9f3ec;
  width: 100%;
  max-width: 202px;

  @include media(desktop) {
    font-size: 24px;
    padding: 7px 27px;
    max-width: 352px;
  }
}

.show-cookie-banner {
  display: block;

  @include media(desktop) {
  }
}
