.footer {
  padding-top: 25px;
  padding-bottom: 5px;

  @include media(desktop) {
    padding-top: 63px;
    padding-bottom: 9px;
  }
}

.footer-nav {
  margin-bottom: 10px;

  @include media(desktop) {
    margin-bottom: 21px;
  }
}

.footer-list {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 3px;

  @include media(desktop) {
    gap: 7px;
  }
}

.footer-list-item {
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  font-size: 10px;
  text-align: center;
  color: #fff;

  @include media(desktop) {
    font-size: 20px;
  }
}

.footer-link {
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  font-size: 10px;
  text-align: center;
  color: #fff;

  @include media(desktop) {
    font-size: 20px;
  }
}

.footer-text {
  font-family: 'Poppins', sans-serif;
  font-weight: 900;
  font-size: 14px;
  text-align: center;
  color: rgba(255, 255, 255, 0.5);

  @include media(desktop) {
    font-size: 22px;
  }
}
