.header {
  background: #1c1c28;
  padding: 10px 0 0 0;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 10;

  @include media(desktop) {
  }
}

.header-container {
  padding: 0 14px;

  @include media(desktop) {
    padding: 0 95px;
  }
}

.nav {
  background: #151521;
  padding: 4px 30px;
  border-radius: 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;

  @include media(desktop) {
    padding: 7px 80px;
    justify-content: center;
    gap: 50px;
  }
}

.header-logo-link {
}

.nav-list {
  display: none;

  @include media(desktop) {
    display: flex;
    align-items: center;
    gap: 50px;
  }
}

.nav-list-item {
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav-list-link {
  @include media(desktop) {
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    font-size: 24px;
    color: #fafafb;
    transition: all 0.3s ease-in-out;

    &:hover,
    &.active {
    }
  }
}

.nav-list-link.active {
}

.nav-btn {
  display: flex;
  justify-content: center;
  align-items: center;

  @include media(desktop) {
    display: none;
  }
}

.close-btn {
  display: none;
  justify-content: center;
  align-items: center;

  @include media(desktop) {
    display: none;
  }
}

.menu-open-border {
  border-radius: 20px 20px 0 0;
}
