.privacy-body {
  background: #1c1c28;
}

.policy-section {
  padding-top: 86px;
  padding-bottom: 50px;

  @include media(desktop) {
    padding-top: 146px;
    padding-bottom: 70px;
  }
}

.policy-main-title {
  font-family: 'Poppins', sans-serif;
  font-weight: 900;
  font-size: 19px;
  color: #fafafb;
  text-align: center;
  margin-bottom: 20px;

  @include media(desktop) {
    font-size: 34px;
    margin-bottom: 40px;
  }
}

.policy-title {
  font-family: 'Poppins', sans-serif;
  font-weight: 900;
  font-size: 14px;
  color: #fafafb;
  margin-bottom: 18px;

  @include media(desktop) {
    font-size: 24px;
  }
}

.policy-subtitle {
  font-family: 'Poppins', sans-serif;
  font-weight: 700;
  font-size: 14px;
  color: #fafafb;
  margin-bottom: 18px;

  @include media(desktop) {
    font-size: 24px;
  }
}

.policy-text {
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  font-size: 14px;
  color: #fafafb;

  &:not(:last-child) {
    margin-bottom: 18px;
  }

  @include media(desktop) {
    font-size: 24px;
  }
}

.policy-list {
  list-style-type: disc;
  padding-left: 20px;
}

.policy-item {
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  font-size: 14px;
  color: #fafafb;
  margin-bottom: 8px;

  &:last-child {
    margin-bottom: 18px;
  }

  @include media(desktop) {
    font-size: 24px;
  }
}

.policy-span {
  text-decoration: underline;
}

.policy-link {
  text-decoration: underline;
  word-wrap: break-word;
}
