<section class="section about-section" id="about">
  <div class="container about-container">
    <h2 class="section-title about-title">Strategy Meets Scale</h2>
    <div class="about-content-wrapper">
      <p class="about-text">
        Globity is a digital consulting studio that bridges the gap between
        smart systems and international scale. Our mission is to empower
        distributed teams, solopreneurs, and micro-agencies with the tools,
        automations, and clarity they need to grow confidently — across
        platforms and borders. We are a Limited Liability Company, operating
        fully online, with clients across Europe, Asia, North America, and
        beyond.
      </p>
      <picture>
        <source
          srcset="./img/about/about-bg-desk.png"
          media="(min-width: 1440px)"
          width="425"
          height="390" />
        <source
          srcset="./img/about/about-bg-mob.png"
          width="306"
          height="375" />
        <img
          class="about-img"
          src="./img/about/about-bg-mob.png"
          alt="Work process"
          width="306"
          height="375"
      /></picture>
    </div>
  </div>
</section>
