<section class="section hero-section" id="home">
  <div class="container hero-container">
    <div class="hero-content-wrapper">
      <picture>
        <source
          srcset="./img/hero/hero-bg-desk.png"
          media="(min-width: 1440px)"
          width="497"
          height="497" />
        <source srcset="./img/hero/hero-bg-mob.png" width="375" height="375" />
        <img
          class="hero-img"
          src="./img/hero/hero-bg-mob.png"
          alt="Work process"
          width="375"
          height="375"
      /></picture>
      <div class="hero-text-wrapper">
        <h1 class="hero-title">
          Globity — Smart Systems Consulting for Remote and Global Teams
        </h1>
        <p class="hero-text">
          We help online businesses scale through structured workflows, no-code
          automation, and async team systems that actually work — across time
          zones and languages.
        </p>
      </div>
    </div>
  </div>
</section>
