<section class="section services-section" id="services">
  <div class="container services-container">
    <h2 class="section-title services-title">What We Do</h2>
    <p class="services-subtitle">Systemize. Automate. Scale.</p>
    <ul class="services-list">
      <li class="services-list-item">
        <picture>
          <source
            srcset="./img/services/services-img1-desk.png"
            media="(min-width: 1440px)"
            width="100"
            height="100" />
          <source
            srcset="./img/services/services-img1-mob.png"
            width="50"
            height="50" />
          <img
            class="services-img"
            src="./img/services/services-img1-mob.png"
            alt="Process Design"
            width="50"
            height="50"
        /></picture>
        <p class="services-item-text">Global SOP & Process Design</p>
      </li>
      <li class="services-list-item">
        <picture>
          <source
            srcset="./img/services/services-img2-desk.png"
            media="(min-width: 1440px)"
            width="100"
            height="100" />
          <source
            srcset="./img/services/services-img2-mob.png"
            width="50"
            height="50" />
          <img
            class="services-img"
            src="./img/services/services-img2-mob.png"
            alt="Workflow Automations"
            width="50"
            height="50"
        /></picture>
        <p class="services-item-text">
          No-Code Workflow Automations (Zapier, Make, Airtable)
        </p>
      </li>
      <li class="services-list-item">
        <picture>
          <source
            srcset="./img/services/services-img3-desk.png"
            media="(min-width: 1440px)"
            width="100"
            height="100" />
          <source
            srcset="./img/services/services-img3-mob.png"
            width="50"
            height="50" />
          <img
            class="services-img"
            src="./img/services/services-img3-mob.png"
            alt="CRM Systems"
            width="50"
            height="50"
        /></picture>
        <p class="services-item-text">International CRM Systems</p>
      </li>
      <li class="services-list-item">
        <picture>
          <source
            srcset="./img/services/services-img4-desk.png"
            media="(min-width: 1440px)"
            width="100"
            height="100" />
          <source
            srcset="./img/services/services-img4-mob.png"
            width="50"
            height="50" />
          <img
            class="services-img"
            src="./img/services/services-img4-mob.png"
            alt="Team Management"
            width="50"
            height="50"
        /></picture>
        <p class="services-item-text">
          Async Project & Team Management (Notion, Trello, ClickUp)
        </p>
      </li>
      <li class="services-list-item">
        <picture>
          <source
            srcset="./img/services/services-img5-desk.png"
            media="(min-width: 1440px)"
            width="100"
            height="100" />
          <source
            srcset="./img/services/services-img5-mob.png"
            width="50"
            height="50" />
          <img
            class="services-img"
            src="./img/services/services-img5-mob.png"
            alt="Client Onboarding"
            width="50"
            height="50"
        /></picture>
        <p class="services-item-text">Multilingual Client Onboarding</p>
      </li>
      <li class="services-list-item">
        <picture>
          <source
            srcset="./img/services/services-img6-desk.png"
            media="(min-width: 1440px)"
            width="100"
            height="100" />
          <source
            srcset="./img/services/services-img6-mob.png"
            width="50"
            height="50" />
          <img
            class="services-img"
            src="./img/services/services-img6-mob.png"
            alt="Metrics Dashboards"
            width="50"
            height="50"
        /></picture>
        <p class="services-item-text">Metrics Dashboards & Reporting Flows</p>
      </li>
      <li class="services-list-item">
        <picture>
          <source
            srcset="./img/services/services-img7-desk.png"
            media="(min-width: 1440px)"
            width="100"
            height="100" />
          <source
            srcset="./img/services/services-img7-mob.png"
            width="50"
            height="50" />
          <img
            class="services-img"
            src="./img/services/services-img7-mob.png"
            alt="Digital Products"
            width="50"
            height="50"
        /></picture>
        <p class="services-item-text">Launch Planning for Digital Products</p>
      </li>
    </ul>
  </div>
</section>
