<section class="section works-section" id="works">
  <div class="container works-container">
    <h2 class="section-title works-title">How It Works</h2>
    <ul class="works-list">
      <li class="works-list-item">
        <div class="works-picture-wrapper works-odd-wrapper">
          <picture>
            <source
              srcset="./img/works/works-right-foot-desk.png"
              media="(min-width: 1440px)"
              width="40"
              height="90" />
            <source
              srcset="./img/works/works-right-foot-mob.png"
              width="20"
              height="45" />
            <img
              class="works-img"
              src="./img/works/works-right-foot-mob.png"
              alt="Foot"
              width="20"
              height="20"
              loading="lazy"
          /></picture>
        </div>
        <p class="works-item-text">Book a discovery call</p>
      </li>
      <li class="works-list-item">
        <div class="works-picture-wrapper works-even-wrapper">
          <picture>
            <source
              srcset="./img/works/works-left-foot-desk.png"
              media="(min-width: 1440px)"
              width="40"
              height="90" />
            <source
              srcset="./img/works/works-left-foot-mob.png"
              width="20"
              height="45" />
            <img
              class="works-img"
              src="./img/works/works-left-foot-mob.png"
              alt="Foot"
              width="20"
              height="45"
              loading="lazy"
          /></picture>
        </div>
        <p class="works-item-text">We audit your systems and needs</p>
      </li>
      <li class="works-list-item">
        <div class="works-picture-wrapper works-odd-wrapper">
          <picture>
            <source
              srcset="./img/works/works-right-foot-desk.png"
              media="(min-width: 1440px)"
              width="40"
              height="90" />
            <source
              srcset="./img/works/works-right-foot-mob.png"
              width="20"
              height="45" />
            <img
              class="works-img"
              src="./img/works/works-right-foot-mob.png"
              alt="Foot"
              width="20"
              height="20"
              loading="lazy"
          /></picture>
        </div>
        <p class="works-item-text">
          You get a 3–10 day strategy + implementation sprint
        </p>
      </li>
      <li class="works-list-item">
        <div class="works-picture-wrapper works-even-wrapper">
          <picture>
            <source
              srcset="./img/works/works-left-foot-desk.png"
              media="(min-width: 1440px)"
              width="40"
              height="90" />
            <source
              srcset="./img/works/works-left-foot-mob.png"
              width="20"
              height="45" />
            <img
              class="works-img"
              src="./img/works/works-left-foot-mob.png"
              alt="Foot"
              width="20"
              height="45"
              loading="lazy"
          /></picture>
        </div>
        <p class="works-item-text">
          Maintain with our Notion + Airtable dashboard templates
        </p>
      </li>
      <li class="works-list-item">
        <div class="works-picture-wrapper works-odd-wrapper">
          <picture>
            <source
              srcset="./img/works/works-right-foot-desk.png"
              media="(min-width: 1440px)"
              width="40"
              height="90" />
            <source
              srcset="./img/works/works-right-foot-mob.png"
              width="20"
              height="45" />
            <img
              class="works-img"
              src="./img/works/works-right-foot-mob.png"
              alt="Foot"
              width="20"
              height="20"
              loading="lazy"
          /></picture>
        </div>
        <p class="works-item-text">
          Optional monthly system support or async coaching
        </p>
      </li>
    </ul>
  </div>
</section>
